:root {
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  ul {
    list-style: none;
    text-decoration: none;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  body {
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20190916/pngtree-abstract-geometric-white-background-with-triangles-image_315703.jpg');
  }

 .search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
   
}
 .search-input {
    padding: 10px;
    margin-right: 10px;
    width: 300px;
    height: 35px;
}

  .gallery {
    padding: 0;
    margin: 0;
    list-style: none;
    max-width: calc(100% - 64px);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 24px;
  }

 .gallery-image {
    height: 300px;
    object-fit: cover;
    max-width: 100%;
    border-radius: 20px;
  }

  .stats {
      display: flex;
  }

  .stats-item {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .stats-item + .stats-item {
      margin-left: 10px;
  }
  .material-icons {
      margin-right: 5px;
      color: #2196f3;
  }
  
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #2196f3;
    border: 0;
    outline: 0;
    padding: 8px 24px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
    font: inherit;
    font-weight: 500;
    user-select: none;
    transition: background-color 250ms var(--timing-function);
  }
  
  .button:hover {
    box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.15);
    background-color: #1976d2;
  }
  
  .load-more {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 20px;
  }